USE [KidsFashionDB]
GO
/****** Object:  Table [dbo].[ADMINS]    Script Date: 1/10/2026 12:36:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Role] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 1/10/2026 12:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[ICON] [nvarchar](250) NULL,
	[PARENTID] [bigint] NULL,
	[SLUG] [nvarchar](160) NULL,
	[META_TITLE] [nvarchar](160) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESC] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLOR]    Script Date: 1/10/2026 12:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLOR](
	[COLORID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[CODE] [nvarchar](50) NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[COLORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 1/10/2026 12:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT](
	[CONTACTID] [bigint] IDENTITY(1,1) NOT NULL,
	[FULLNAME] [nvarchar](250) NOT NULL,
	[EMAIL] [nvarchar](150) NOT NULL,
	[PHONE] [nvarchar](50) NULL,
	[SUBJECT] [nvarchar](500) NULL,
	[MESSAGE] [ntext] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[IS_READ] [tinyint] NULL,
	[REPLY] [ntext] NULL,
	[REPLY_DATE] [datetime] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CONTACTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 1/10/2026 12:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMERID] [bigint] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](150) NULL,
	[PHONE] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](250) NULL,
	[AVATAR] [nvarchar](250) NULL,
	[USER_TYPE] [nvarchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[ISDELETE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL]    Script Date: 1/10/2026 12:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL](
	[MATERIALID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[NOTES] [ntext] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATERIALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 1/10/2026 12:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ORDERSID] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDERS_DATE] [datetime] NULL,
	[CUSTOMERID] [bigint] NOT NULL,
	[TOTAL_MONEY] [decimal](18, 2) NULL,
	[NAME_RECEIVER] [nvarchar](250) NULL,
	[ADDRESS] [nvarchar](250) NULL,
	[PHONE] [nvarchar](50) NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS_DETAILS]    Script Date: 1/10/2026 12:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS_DETAILS](
	[ORDERS_DETAILSID] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDERSID] [bigint] NOT NULL,
	[PRODUCTVARIANTID] [bigint] NOT NULL,
	[PRICE] [decimal](18, 2) NULL,
	[QUANTITY] [int] NULL,
	[TOTAL] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDERS_DETAILSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_METHOD]    Script Date: 1/10/2026 12:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_METHOD](
	[PAY_METHODID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[NOTES] [ntext] NULL,
	[CREATED_DATE] [datetime] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PAY_METHODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 1/10/2026 12:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](500) NOT NULL,
	[DESCRIPTION] [ntext] NULL,
	[CONTENTS] [ntext] NULL,
	[CATEGORYID] [bigint] NULL,
	[PRICE] [decimal](18, 2) NULL,
	[SLUG] [nvarchar](160) NULL,
	[META_TITLE] [nvarchar](160) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESC] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
	[ISSALE] [tinyint] NULL,
	[ISTOPSALE] [tinyint] NULL,
	[ISHOME] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_IMAGES]    Script Date: 1/10/2026 12:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_IMAGES](
	[PRODUCT_IMAGESID] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCTID] [bigint] NOT NULL,
	[COLORID] [bigint] NULL,
	[URLIMG] [nvarchar](250) NOT NULL,
	[ISDEFAULT] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_IMAGESID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_VARIANT]    Script Date: 1/10/2026 12:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_VARIANT](
	[PRODUCT_VARIANTID] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCTID] [bigint] NOT NULL,
	[COLORID] [bigint] NOT NULL,
	[SIZEID] [bigint] NOT NULL,
	[MATERIALID] [bigint] NOT NULL,
	[PRICE] [decimal](18, 2) NULL,
	[QUANTITY] [int] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_VARIANTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEW]    Script Date: 1/10/2026 12:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEW](
	[REVIEWID] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCTID] [bigint] NOT NULL,
	[CUSTOMERID] [bigint] NULL,
	[FULLNAME] [nvarchar](250) NOT NULL,
	[EMAIL] [nvarchar](150) NOT NULL,
	[RATING] [tinyint] NOT NULL,
	[TITLE] [nvarchar](500) NULL,
	[CONTENT] [ntext] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[IS_APPROVED] [tinyint] NULL,
	[REPLY] [ntext] NULL,
	[REPLY_DATE] [datetime] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[REVIEWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 1/10/2026 12:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[SIZEID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[AGE_FROM] [int] NULL,
	[AGE_TO] [int] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[SIZEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSPORT_METHOD]    Script Date: 1/10/2026 12:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSPORT_METHOD](
	[TRANSPORT_METHODID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[NOTES] [ntext] NULL,
	[CREATED_DATE] [datetime] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[TRANSPORT_METHODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADMINS] ADD  DEFAULT ('Admin') FOR [Role]
GO
ALTER TABLE [dbo].[ADMINS] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ADMINS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[COLOR] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[CONTACT] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[CONTACT] ADD  DEFAULT ((0)) FOR [IS_READ]
GO
ALTER TABLE [dbo].[CONTACT] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[CONTACT] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ('CUSTOMER') FOR [USER_TYPE]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[MATERIAL] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (getdate()) FOR [ORDERS_DATE]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[ORDERS_DETAILS] ADD  DEFAULT ((1)) FOR [QUANTITY]
GO
ALTER TABLE [dbo].[PAY_METHOD] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[PAY_METHOD] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[PAY_METHOD] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT ((0)) FOR [PRICE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[PRODUCT_IMAGES] ADD  DEFAULT ((0)) FOR [ISDEFAULT]
GO
ALTER TABLE [dbo].[PRODUCT_VARIANT] ADD  DEFAULT ((0)) FOR [QUANTITY]
GO
ALTER TABLE [dbo].[PRODUCT_VARIANT] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[REVIEW] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[REVIEW] ADD  DEFAULT ((0)) FOR [IS_APPROVED]
GO
ALTER TABLE [dbo].[REVIEW] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[REVIEW] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[SIZE] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[TRANSPORT_METHOD] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[TRANSPORT_METHOD] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[TRANSPORT_METHOD] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORY_PARENT] FOREIGN KEY([PARENTID])
REFERENCES [dbo].[CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[CATEGORY] CHECK CONSTRAINT [FK_CATEGORY_PARENT]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_CUSTOMER] FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_CUSTOMER]
GO
ALTER TABLE [dbo].[ORDERS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_OD_ORDERS] FOREIGN KEY([ORDERSID])
REFERENCES [dbo].[ORDERS] ([ORDERSID])
GO
ALTER TABLE [dbo].[ORDERS_DETAILS] CHECK CONSTRAINT [FK_OD_ORDERS]
GO
ALTER TABLE [dbo].[ORDERS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_OD_VARIANT] FOREIGN KEY([PRODUCTVARIANTID])
REFERENCES [dbo].[PRODUCT_VARIANT] ([PRODUCT_VARIANTID])
GO
ALTER TABLE [dbo].[ORDERS_DETAILS] CHECK CONSTRAINT [FK_OD_VARIANT]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY]
GO
ALTER TABLE [dbo].[PRODUCT_IMAGES]  WITH CHECK ADD  CONSTRAINT [FK_PI_COLOR] FOREIGN KEY([COLORID])
REFERENCES [dbo].[COLOR] ([COLORID])
GO
ALTER TABLE [dbo].[PRODUCT_IMAGES] CHECK CONSTRAINT [FK_PI_COLOR]
GO
ALTER TABLE [dbo].[PRODUCT_IMAGES]  WITH CHECK ADD  CONSTRAINT [FK_PI_PRODUCT] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT_IMAGES] CHECK CONSTRAINT [FK_PI_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT_VARIANT]  WITH CHECK ADD  CONSTRAINT [FK_PV_COLOR] FOREIGN KEY([COLORID])
REFERENCES [dbo].[COLOR] ([COLORID])
GO
ALTER TABLE [dbo].[PRODUCT_VARIANT] CHECK CONSTRAINT [FK_PV_COLOR]
GO
ALTER TABLE [dbo].[PRODUCT_VARIANT]  WITH CHECK ADD  CONSTRAINT [FK_PV_MATERIAL] FOREIGN KEY([MATERIALID])
REFERENCES [dbo].[MATERIAL] ([MATERIALID])
GO
ALTER TABLE [dbo].[PRODUCT_VARIANT] CHECK CONSTRAINT [FK_PV_MATERIAL]
GO
ALTER TABLE [dbo].[PRODUCT_VARIANT]  WITH CHECK ADD  CONSTRAINT [FK_PV_PRODUCT] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT_VARIANT] CHECK CONSTRAINT [FK_PV_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT_VARIANT]  WITH CHECK ADD  CONSTRAINT [FK_PV_SIZE] FOREIGN KEY([SIZEID])
REFERENCES [dbo].[SIZE] ([SIZEID])
GO
ALTER TABLE [dbo].[PRODUCT_VARIANT] CHECK CONSTRAINT [FK_PV_SIZE]
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_REVIEW_CUSTOMER] FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
ALTER TABLE [dbo].[REVIEW] CHECK CONSTRAINT [FK_REVIEW_CUSTOMER]
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_REVIEW_PRODUCT] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[REVIEW] CHECK CONSTRAINT [FK_REVIEW_PRODUCT]
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD CHECK  (([RATING]>=(1) AND [RATING]<=(5)))
GO
