@model K22CNT4_PhamThiThuHuyen_2210900030_DATN.Models.EF.Size

@{
    ViewBag.Title = "Sửa Size";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Sửa Size</h1>

<form method="post">
    <input type="hidden" asp-for="Sizeid" />

    <div class="mb-3">
        <label>Tên Size</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Tuổi từ</label>
        <input asp-for="AgeFrom" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Tuổi đến</label>
        <input asp-for="AgeTo" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Trạng thái</label>
        <select asp-for="Isactive" class="form-select">
            <option value="1">Active</option>
            <option value="0">Inactive</option>
        </select>
    </div>

    <button class="btn btn-primary">Lưu</button>
</form>
