@{
    ViewData["Title"] = "Trang quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <h2>Admin Home</h2>
        <p>Chào mừng đến trang quản trị!</p>
    </div>
</section>
