@model K22CNT4_PhamThiThuHuyen_2210900030_DATN.ViewModels.CheckoutVM

<h2>Thanh toán</h2>

<form asp-action="Checkout" method="post" class="container">

    <div class="mb-3">
        <label>Họ tên người nhận</label>
        <input asp-for="NameReceiver" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Số điện thoại</label>
        <input asp-for="Phone" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Địa chỉ</label>
        <input asp-for="Address" class="form-control" required />
    </div>

    <h4 class="text-end">
        Tổng tiền:
        <span class="text-danger">
            @Model.TotalMoney.ToString("N0") ₫
        </span>
    </h4>

    <div class="text-end mt-4">
        <button type="submit" class="btn btn-success px-4">
            Đặt hàng
        </button>
    </div>
</form>
