@{
    ViewData["Title"] = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="container text-center mt-5">
    <h2 class="text-success mb-3">🎉 Đặt hàng thành công!</h2>
    <p>Cảm ơn bạn đã mua hàng tại Babi.</p>

    <a asp-controller="Home"
       asp-action="Index"
       class="btn btn-primary mt-3">
        Về trang chủ
    </a>
</div>
