<div class="sidebar">
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview">

            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-home"></i>
                    <p>Trang quản trị</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">
                    <i class="fas fa-users"></i>
                    <span>Người dùng</span>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>Danh mục</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-box"></i>
                    <p>Sản phẩm</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Size" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-box"></i>
                    <p>Size</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Material" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-box"></i>
                    <p>Material</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Color" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-box"></i>
                    <p>Color</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Review" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-box"></i>
                    <p>Review</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Đơn hàng</span>
                </a>
            </li>




            <li class="nav-item">
                <a asp-area="Admin"
                   asp-controller="Account"
                   asp-action="Logout"
                   class="nav-link">
                    <i class="nav-icon fas fa-sign-out-alt"></i>
                    <p>Đăng xuất</p>
                </a>
            </li>


        </ul>
    </nav>
</div>
